@media (max-width: 599px) {
  #LoginCard > div {
    box-shadow: none !important;
  }
}
@media (min-width: 600px) {
  #LoginCard {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
  }

  #LoginCard::before {
    height: 50px;
  }

  #LoginCard::before, #LoginCard::after {
    content: '';
    display: block;
    flex: 1;
    flex-grow: 1;
  }
}