.row {
    margin: 0 !important;
}

.AppContainer-inner {
    padding: 40px;
    min-width: auto;
    height: 100%;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#DrawerComp svg {
    fill: #424242 !important;
}

#DrawerComp .active {
  background-color: #666 !important;
  color: white !important;
}

#DrawerComp .active svg {
  fill: white !important;
}

#DrawerComp-Inset {
    background-color: #424242;
}

#DrawerComp-Inset .active {
    background-color: #666 !important;
}

#DrawerComp-Inset a {
    color: white !important;
}


#DrawerComp-Inset svg {
    fill: white !important;
}


.MainCard {
    height: inherit;
}

@media (max-width: 599px) {
  .MainCard {
    box-shadow: none !important;
    margin: 0px;
  }

  .AppContainer-inner {
    padding: 0px;
  }
}